<p>It won't be too long before you're cruising along!</p>

<p>Hit refresh to update the stats below and publish that you're still waiting, you will be marked as stale after <%= distance_of_time_in_words Rider::MAX_LAST_SEEN_AT %> of inactivity </p>
<table>
  <tr>
    <td>
      Destination
    </td>
    <td />
    <td>
      <%= image_tag('man_symbol.png') %> 
    </td>
    <td />
    <td>
      <%= image_tag('car_symbol.png') %> 
    </td>
  </tr>
  <% DestinationSpot.find(:all, :conditions => ["name != ?", "San Francisco"]).each do |spot| %>
    <tr>      
      <td>
       <%= spot.name %>
      </td>
      <td />
      <td>
        <%= spot.waiting_riders.count %>
      </td>
      <td />
      <td align="center">
        <%= spot.waiting_drivers.count %>
      </td>
    </tr>
  <% end %>
</table>

<br />
<%= button_to "Refresh", '', :method => :get %>
