<p> As of <%= @rider.last_seen_at.in_time_zone(-8).strftime("%H:%M:%S") %>, you are waiting for a ride </p>
<p>Potential drivers will see that <%= @rider.pickup_spot.waiting_riders.count %> riders are waiting at <%= @rider.pickup_spot.name %></p>
<p>
  To avoid being marked as stale, please hit this refresh button at least every <%= distance_of_time_in_words Rider::MAX_LAST_SEEN_AT %>
</p>

<%= button_to "Refresh/I'm still waiting!", '', :method => :get %>

<%= button_to "Exit/Got my Ride!", @rider,  :method => :delete %>
