<p> As of <%= @driver.last_seen_at.in_time_zone(-8).strftime("%hh:%mm:%s") %>, you are waiting for riders </p>
<p>Potential drivers will see that <%#= @driver.pickup_spot.waiting_drivers.count %> drivers are waiting at <%= @driver.pickup_spot.name %></p>
<p>
  To avoid being marked as stale, please hit this refresh button at least every <%= distance_of_time_in_words Rider::MAX_LAST_SEEN_AT %>
</p>

<%= button_to "Refresh/I'm still waiting!", '', :method => :get %>

<%= button_to "Exit/Got my Ride!", @driver,  :method => :delete %>
