<ul>
  <% PickupSpot.all.each do |spot| %>
  <li><%= spot.waiting_riders.count %> Riders waiting at <%= spot.name %></li>
    <% end %>
</ul>


<br />
<br />


<%= button_to "refresh/I'm still waiting!", '', :method => :get %>
<p> <%= @driver.last_seen_at.in_time_zone(-8).strftime("%H:%M:%S") %> </p>

<br />
<br />

<%= button_to "exit/Got my Riders!", @driver, :method => :delete %>
